.btn-primary{
    background-color: #242424;
    border-color: #242424;
}

.btn-primary:hover{
    background-color: #000000;
    border-color: #000000;
}
.about-text{
 text-shadow: 0.2px 1.2px 0.4px #676060;   
}